openapi: 3.0.3
info:
  title: Bob Payments API
  description: API de pagamentos Bob Payments — PIX, cartão de crédito e cripto. Crie cobranças, gerencie
    clientes e receba webhooks.
  version: 1.0.0
servers:
- url: https://api.payments.bob.company
  description: Servidor de produção
components:
  securitySchemes:
    ApiKeyAuth:
      bearerFormat: API Key
      description: 'Autenticação por API Key usando token SK (sk_live_xxx ou sk_test_xxx). Envie como:
        Authorization: Bearer sk_live_xxx'
      scheme: bearer
      type: http
    BearerAuth:
      bearerFormat: JWT
      description: Token JWT para endpoints autenticados do dashboard
      scheme: bearer
      type: http
  schemas: {}
paths:
  /api/v1/transactions/:
    get:
      description: Retorna uma lista paginada de transações com filtros opcionais. Suporta Bearer Token
        (sk_live_xxx / sk_test_xxx) ou autenticação JWT.
      parameters:
      - in: query
        name: page
        required: false
        schema:
          default: 1
          exclusiveMinimum: true
          maximum: 9007199254740991
          minimum: 0
          type: integer
      - in: query
        name: limit
        required: false
        schema:
          default: 10
          exclusiveMinimum: true
          maximum: 100
          minimum: 0
          type: integer
      - in: query
        name: status
        required: false
        schema:
          enum:
          - waiting_payment
          - paid
          - refunded
          - cancelled
          - expired
          - processing
          type: string
      - in: query
        name: paymentMethod
        required: false
        schema:
          enum:
          - pix
          - credit_card
          - crypto
          - boleto
          type: string
      - in: query
        name: customerId
        required: false
        schema:
          format: cuid
          pattern: ^[cC][0-9a-z]{6,}$
          type: string
      - in: query
        name: dateFrom
        required: false
        schema:
          anyOf:
          - format: date-time
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
            type: string
          - format: date
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))$
            type: string
      - in: query
        name: dateTo
        required: false
        schema:
          anyOf:
          - format: date-time
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
            type: string
          - format: date
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))$
            type: string
      - in: query
        name: environment
        required: false
        schema:
          enum:
          - live
          - sandbox
          type: string
      - in: query
        name: originDomain
        required: false
        schema:
          type: string
      - in: query
        name: domain
        required: false
        schema:
          type: string
      - in: query
        name: amountMin
        required: false
        schema:
          maximum: 9007199254740991
          minimum: 0
          type: integer
      - in: query
        name: amountMax
        required: false
        schema:
          maximum: 9007199254740991
          minimum: 0
          type: integer
      - in: query
        name: search
        required: false
        schema:
          maxLength: 200
          minLength: 1
          type: string
      - in: query
        name: paidAtFrom
        required: false
        schema:
          anyOf:
          - format: date-time
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
            type: string
          - format: date
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))$
            type: string
      - in: query
        name: paidAtTo
        required: false
        schema:
          anyOf:
          - format: date-time
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
            type: string
          - format: date
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))$
            type: string
      - in: query
        name: expiredAtFrom
        required: false
        schema:
          anyOf:
          - format: date-time
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
            type: string
          - format: date
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))$
            type: string
      - in: query
        name: expiredAtTo
        required: false
        schema:
          anyOf:
          - format: date-time
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
            type: string
          - format: date
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))$
            type: string
      - in: query
        name: customerEmail
        required: false
        schema:
          format: email
          pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      additionalProperties: false
                      properties:
                        amountCents:
                          type: number
                        createdAt:
                          type: string
                        customer:
                          additionalProperties: false
                          properties:
                            email:
                              type: string
                            id:
                              type: string
                            name:
                              type: string
                          required:
                          - id
                          - name
                          - email
                          type: object
                        customerEmail:
                          nullable: true
                          type: string
                        customerName:
                          nullable: true
                          type: string
                        externalId:
                          type: string
                        id:
                          type: string
                        originDomain:
                          nullable: true
                          type: string
                        paidAt:
                          nullable: true
                          type: string
                        paymentMethod:
                          enum:
                          - pix
                          - credit_card
                          - crypto
                          - boleto
                          type: string
                        product:
                          type: string
                        quantity:
                          type: number
                        status:
                          enum:
                          - waiting_payment
                          - paid
                          - refunded
                          - cancelled
                          - expired
                          - processing
                          type: string
                        transactionCode:
                          nullable: true
                          type: string
                        updatedAt:
                          type: string
                      required:
                      - id
                      - externalId
                      - transactionCode
                      - status
                      - paymentMethod
                      - amountCents
                      - product
                      - quantity
                      - paidAt
                      - createdAt
                      - updatedAt
                      - customer
                      - originDomain
                      - customerEmail
                      - customerName
                      type: object
                    type: array
                  message:
                    type: string
                  meta:
                    additionalProperties: false
                    properties:
                      limit:
                        maximum: 9007199254740991
                        minimum: -9007199254740991
                        type: integer
                      page:
                        maximum: 9007199254740991
                        minimum: -9007199254740991
                        type: integer
                      total:
                        maximum: 9007199254740991
                        minimum: -9007199254740991
                        type: integer
                      totalPages:
                        maximum: 9007199254740991
                        minimum: -9007199254740991
                        type: integer
                    required:
                    - total
                    - page
                    - limit
                    - totalPages
                    type: object
                  success:
                    default: true
                    type: boolean
                required:
                - success
                - data
                - meta
                type: object
          description: Default Response
        '401':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '500':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Listar todas as transações
      tags:
      - Transactions
    post:
      description: Cria uma nova transação usando a rota publicada do método de pagamento selecionado.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                card:
                  additionalProperties: false
                  description: Obrigatório quando paymentMethod = "credit_card".
                  properties:
                    holderName:
                      maxLength: 255
                      minLength: 1
                      type: string
                    installments:
                      description: Número de parcelas. 1 (padrão) = à vista.
                      maximum: 12
                      minimum: 1
                      type: integer
                    returnUrl:
                      description: URL para onde o portador retorna após uma ação de autenticação.
                      format: uri
                      maxLength: 2048
                      type: string
                    token:
                      description: Token Bob opaco (`btk_...`) criado no navegador por Bob.js/Secure Fields.
                      maxLength: 255
                      minLength: 1
                      type: string
                  required:
                  - token
                  type: object
                customer:
                  properties:
                    address:
                      properties:
                        city:
                          maxLength: 100
                          minLength: 1
                          type: string
                        complement:
                          maxLength: 100
                          type: string
                        country:
                          default: BR
                          maxLength: 2
                          minLength: 2
                          type: string
                        neighborhood:
                          maxLength: 100
                          minLength: 1
                          type: string
                        state:
                          maxLength: 2
                          minLength: 2
                          type: string
                        street:
                          maxLength: 255
                          minLength: 1
                          type: string
                        streetNumber:
                          maxLength: 20
                          minLength: 1
                          type: string
                        zipCode:
                          maxLength: 9
                          minLength: 8
                          type: string
                      required:
                      - street
                      - streetNumber
                      - neighborhood
                      - zipCode
                      - city
                      - state
                      type: object
                    document:
                      maxLength: 14
                      minLength: 11
                      type: string
                    documentType:
                      enum:
                      - CPF
                      - CNPJ
                      type: string
                    email:
                      format: email
                      pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                      type: string
                    name:
                      maxLength: 255
                      minLength: 1
                      type: string
                    phone:
                      maxLength: 25
                      minLength: 8
                      type: string
                  required:
                  - name
                  - document
                  - documentType
                  - email
                  - address
                  type: object
                customerIp:
                  anyOf:
                  - format: ipv4
                    pattern: ^(?:(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])\.){3}(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])$
                    type: string
                  - format: ipv6
                    pattern: ^(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))$
                    type: string
                  description: IP do usuário final que originou a requisição (IPv4 ou IPv6). Quando informado,
                    é usado para detecção de fraude e bloqueio de IPs.
                originDomain:
                  description: 'Domínio da loja/site que originou a transação (ex: loja.exemplo.com.br).
                    Obrigatório para rastreio de múltiplas lojas. Use apenas o hostname, sem protocolo
                    ou caminho.'
                  maxLength: 253
                  minLength: 1
                  type: string
                payment:
                  properties:
                    amountCents:
                      maximum: 50000000
                      minimum: 1
                      type: integer
                    expirationDays:
                      maximum: 30
                      minimum: 1
                      type: integer
                    product:
                      maxLength: 255
                      minLength: 1
                      type: string
                    quantity:
                      default: 1
                      maximum: 9007199254740991
                      minimum: 1
                      type: integer
                  required:
                  - amountCents
                  - product
                  type: object
                paymentMethod:
                  default: pix
                  description: 'Método de pagamento da transação. Suportados: "pix", "credit_card" e "crypto";
                    se omitido, assume "pix".'
                  enum:
                  - pix
                  - credit_card
                  - crypto
                  - boleto
                  type: string
              required:
              - customer
              - payment
              - originDomain
              type: object
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  billingWarning:
                    type: string
                  data:
                    additionalProperties: false
                    properties:
                      cardBrand:
                        type: string
                      cardLastFour:
                        type: string
                      checkoutUrl:
                        description: 'URL do checkout hospedado (paymentMethod = "crypto"): redirecione
                          o pagador para esta URL para concluir o pagamento em criptomoeda.'
                        type: string
                      expirationDate:
                        type: string
                      externalId:
                        type: string
                      id:
                        nullable: true
                        type: string
                      installments:
                        type: number
                      nextAction:
                        oneOf:
                        - additionalProperties: false
                          properties:
                            type:
                              enum:
                              - redirect
                              type: string
                            url:
                              format: uri
                              maxLength: 2048
                              type: string
                          required:
                          - type
                          - url
                          type: object
                        - additionalProperties: false
                          properties:
                            clientData:
                              additionalProperties: false
                              properties:
                                actionId:
                                  maxLength: 128
                                  pattern: ^bca_[a-z0-9]+$
                                  type: string
                              required:
                              - actionId
                              type: object
                            type:
                              enum:
                              - sdk
                              type: string
                          required:
                          - type
                          - clientData
                          type: object
                        - additionalProperties: false
                          properties:
                            type:
                              enum:
                              - none
                              type: string
                          required:
                          - type
                          type: object
                      nextActionUrl:
                        description: 'Presente quando o emissor exigiu 3-D Secure: redirecione o portador
                          para esta URL. A transação fica em "waiting_payment" até o desfecho chegar por
                          webhook.'
                        format: uri
                        maxLength: 2048
                        type: string
                      pixCode:
                        type: string
                      status:
                        type: string
                    required:
                    - id
                    - externalId
                    - status
                    type: object
                  message:
                    type: string
                  success:
                    default: true
                    type: boolean
                required:
                - success
                - data
                type: object
          description: Default Response
        '202':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  billingWarning:
                    type: string
                  data:
                    additionalProperties: false
                    properties:
                      cardBrand:
                        type: string
                      cardLastFour:
                        type: string
                      checkoutUrl:
                        description: 'URL do checkout hospedado (paymentMethod = "crypto"): redirecione
                          o pagador para esta URL para concluir o pagamento em criptomoeda.'
                        type: string
                      expirationDate:
                        type: string
                      externalId:
                        type: string
                      id:
                        nullable: true
                        type: string
                      installments:
                        type: number
                      nextAction:
                        oneOf:
                        - additionalProperties: false
                          properties:
                            type:
                              enum:
                              - redirect
                              type: string
                            url:
                              format: uri
                              maxLength: 2048
                              type: string
                          required:
                          - type
                          - url
                          type: object
                        - additionalProperties: false
                          properties:
                            clientData:
                              additionalProperties: false
                              properties:
                                actionId:
                                  maxLength: 128
                                  pattern: ^bca_[a-z0-9]+$
                                  type: string
                              required:
                              - actionId
                              type: object
                            type:
                              enum:
                              - sdk
                              type: string
                          required:
                          - type
                          - clientData
                          type: object
                        - additionalProperties: false
                          properties:
                            type:
                              enum:
                              - none
                              type: string
                          required:
                          - type
                          type: object
                      nextActionUrl:
                        description: 'Presente quando o emissor exigiu 3-D Secure: redirecione o portador
                          para esta URL. A transação fica em "waiting_payment" até o desfecho chegar por
                          webhook.'
                        format: uri
                        maxLength: 2048
                        type: string
                      pixCode:
                        type: string
                      status:
                        type: string
                    required:
                    - id
                    - externalId
                    - status
                    type: object
                  message:
                    type: string
                  success:
                    default: true
                    type: boolean
                required:
                - success
                - data
                type: object
          description: Default Response
        '400':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '401':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '403':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '404':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '500':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '503':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
      security:
      - ApiKeyAuth: []
      summary: Criar nova transação
      tags:
      - Transactions
  /api/v1/transactions/{id}:
    get:
      description: Retorna uma transação específica por ID com todos os detalhes (requer autenticação
        JWT)
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: cuid
          pattern: ^[cC][0-9a-z]{6,}$
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      amountCents:
                        type: number
                      checkoutToken:
                        nullable: true
                        type: string
                      checkoutUrl:
                        nullable: true
                        type: string
                      createdAt:
                        type: string
                      customer:
                        additionalProperties: false
                        properties:
                          document:
                            type: string
                          email:
                            type: string
                          id:
                            type: string
                          name:
                            type: string
                          phone:
                            type: string
                        required:
                        - id
                        - name
                        - document
                        - email
                        - phone
                        type: object
                      customerEmail:
                        nullable: true
                        type: string
                      customerName:
                        nullable: true
                        type: string
                      expirationDate:
                        nullable: true
                        type: string
                      externalId:
                        type: string
                      fxRate:
                        nullable: true
                        type: number
                      gatewayAmountCents:
                        nullable: true
                        type: number
                      gatewayCurrency:
                        nullable: true
                        type: string
                      id:
                        type: string
                      originDomain:
                        nullable: true
                        type: string
                      paidAt:
                        nullable: true
                        type: string
                      paymentMethod:
                        enum:
                        - pix
                        - credit_card
                        - crypto
                        - boleto
                        type: string
                      pixCode:
                        nullable: true
                        type: string
                      product:
                        type: string
                      quantity:
                        type: number
                      refundedAt:
                        nullable: true
                        type: string
                      riskEvaluation:
                        additionalProperties: false
                        nullable: true
                        properties:
                          decision:
                            enum:
                            - block
                            - review
                            - allow
                            - approved
                            type: string
                          evaluatedAt:
                            type: string
                          matchedRuleId:
                            nullable: true
                            type: string
                          matchedRuleName:
                            nullable: true
                            type: string
                          reason:
                            nullable: true
                            type: string
                        required:
                        - decision
                        type: object
                      shippingAddress:
                        additionalProperties: false
                        nullable: true
                        properties:
                          city:
                            type: string
                          complement:
                            nullable: true
                            type: string
                          country:
                            type: string
                          neighborhood:
                            nullable: true
                            type: string
                          state:
                            type: string
                          street:
                            type: string
                          streetNumber:
                            type: string
                          zipCode:
                            type: string
                        required:
                        - street
                        - streetNumber
                        - complement
                        - neighborhood
                        - zipCode
                        - city
                        - state
                        - country
                        type: object
                      status:
                        enum:
                        - waiting_payment
                        - paid
                        - refunded
                        - cancelled
                        - expired
                        - processing
                        type: string
                      transactionCode:
                        nullable: true
                        type: string
                      updatedAt:
                        type: string
                    required:
                    - id
                    - externalId
                    - transactionCode
                    - pixCode
                    - expirationDate
                    - status
                    - paymentMethod
                    - amountCents
                    - product
                    - quantity
                    - paidAt
                    - refundedAt
                    - createdAt
                    - updatedAt
                    - customer
                    - originDomain
                    - customerEmail
                    - customerName
                    type: object
                  message:
                    type: string
                  success:
                    default: true
                    type: boolean
                required:
                - success
                - data
                type: object
          description: Default Response
        '401':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '403':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '404':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '500':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Buscar transação por ID
      tags:
      - Transactions
  /api/v1/checkout-sessions/:
    post:
      description: Cria uma sessão de checkout dirigida por valor (amount-driven). Retorna o checkoutToken
        e a checkoutUrl do widget hospedado.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                amountCents:
                  maximum: 50000000
                  minimum: 1
                  type: integer
                cancelUrl:
                  format: uri
                  type: string
                currency:
                  default: BRL
                  enum:
                  - BRL
                  type: string
                customer:
                  properties:
                    document:
                      maxLength: 14
                      minLength: 11
                      type: string
                    documentType:
                      enum:
                      - CPF
                      - CNPJ
                      type: string
                    email:
                      format: email
                      pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                      type: string
                    name:
                      maxLength: 255
                      minLength: 1
                      type: string
                    phone:
                      maxLength: 25
                      minLength: 8
                      type: string
                  type: object
                expiresAt: {}
                items:
                  items:
                    properties:
                      name:
                        maxLength: 255
                        minLength: 1
                        type: string
                      quantity:
                        maximum: 9007199254740991
                        minimum: 1
                        type: integer
                      unitAmountCents:
                        maximum: 9007199254740991
                        minimum: 0
                        type: integer
                    required:
                    - name
                    - quantity
                    - unitAmountCents
                    type: object
                  type: array
                metadata:
                  additionalProperties: {}
                  type: object
                paymentMethods:
                  items:
                    enum:
                    - pix
                    - credit_card
                    - crypto
                    - boleto
                    type: string
                  minItems: 1
                  type: array
                successUrl:
                  format: uri
                  type: string
                webhookUrl:
                  format: uri
                  type: string
                webhookVersion:
                  enum:
                  - v1
                  - v2
                  type: string
              required:
              - amountCents
              type: object
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      checkoutToken:
                        type: string
                      checkoutUrl:
                        type: string
                      expiresAt:
                        nullable: true
                        type: string
                      sessionId:
                        type: string
                      status:
                        enum:
                        - PENDING
                        - PAID
                        - EXPIRED
                        - CANCELLED
                        - FAILED
                        - REFUNDED
                        type: string
                      webhookApiVersion:
                        enum:
                        - v1
                        - v2
                        type: string
                      webhookSecret:
                        nullable: true
                        type: string
                    required:
                    - sessionId
                    - checkoutToken
                    - checkoutUrl
                    - status
                    - expiresAt
                    - webhookSecret
                    - webhookApiVersion
                    type: object
                  message:
                    type: string
                  success:
                    default: true
                    type: boolean
                required:
                - success
                - data
                type: object
          description: Default Response
        '400':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '401':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '403':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '404':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '422':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '500':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
      security:
      - ApiKeyAuth: []
      summary: Criar sessão de checkout
      tags:
      - Checkout
  /api/v1/checkout-sessions/{token}/status:
    get:
      parameters:
      - in: path
        name: token
        required: true
        schema:
          maxLength: 255
          minLength: 1
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      paidAt:
                        nullable: true
                        type: string
                      status:
                        enum:
                        - PENDING
                        - PAID
                        - EXPIRED
                        - CANCELLED
                        - FAILED
                        - REFUNDED
                        type: string
                    required:
                    - status
                    - paidAt
                    type: object
                  message:
                    type: string
                  success:
                    default: true
                    type: boolean
                required:
                - success
                - data
                type: object
          description: Default Response
        '404':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '429':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
      summary: Status de pagamento da sessão de checkout
      tags:
      - Checkout
  /api/v1/customers/:
    get:
      description: Retorna uma lista de todos os clientes com filtro opcional por projeto.
      parameters:
      - in: query
        name: page
        required: false
        schema:
          default: 1
          exclusiveMinimum: true
          maximum: 9007199254740991
          minimum: 0
          type: integer
      - in: query
        name: limit
        required: false
        schema:
          default: 10
          exclusiveMinimum: true
          maximum: 100
          minimum: 0
          type: integer
      - in: query
        name: dateFrom
        required: false
        schema:
          anyOf:
          - format: date-time
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
            type: string
          - format: date
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))$
            type: string
      - in: query
        name: dateTo
        required: false
        schema:
          anyOf:
          - format: date-time
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
            type: string
          - format: date
            pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))$
            type: string
      - in: query
        name: search
        required: false
        schema:
          maxLength: 200
          minLength: 1
          type: string
      - in: query
        name: document
        required: false
        schema:
          maxLength: 20
          minLength: 1
          type: string
      - in: query
        name: phone
        required: false
        schema:
          maxLength: 20
          minLength: 1
          type: string
      - in: query
        name: email
        required: false
        schema:
          format: email
          maxLength: 200
          pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      additionalProperties: false
                      properties:
                        blockExpiresAt:
                          nullable: true
                          type: string
                        blockType:
                          nullable: true
                          type: string
                        blockedAt:
                          nullable: true
                          type: string
                        blockedReason:
                          nullable: true
                          type: string
                        city:
                          type: string
                        complement:
                          nullable: true
                          type: string
                        country:
                          type: string
                        createdAt:
                          type: string
                        document:
                          type: string
                        email:
                          type: string
                        id:
                          type: string
                        isBlocked:
                          type: boolean
                        name:
                          type: string
                        neighborhood:
                          type: string
                        phone:
                          type: string
                        projectId:
                          type: string
                        state:
                          type: string
                        street:
                          type: string
                        streetNumber:
                          type: string
                        updatedAt:
                          type: string
                        zipCode:
                          type: string
                      required:
                      - id
                      - projectId
                      - name
                      - document
                      - email
                      - phone
                      - street
                      - streetNumber
                      - neighborhood
                      - complement
                      - zipCode
                      - city
                      - state
                      - country
                      - isBlocked
                      - blockedAt
                      - blockedReason
                      - blockExpiresAt
                      - blockType
                      - createdAt
                      - updatedAt
                      type: object
                    type: array
                  meta:
                    additionalProperties: false
                    properties:
                      limit:
                        maximum: 9007199254740991
                        minimum: -9007199254740991
                        type: integer
                      page:
                        maximum: 9007199254740991
                        minimum: -9007199254740991
                        type: integer
                      total:
                        maximum: 9007199254740991
                        minimum: -9007199254740991
                        type: integer
                      totalPages:
                        maximum: 9007199254740991
                        minimum: -9007199254740991
                        type: integer
                    required:
                    - total
                    - page
                    - limit
                    - totalPages
                    type: object
                  success:
                    type: boolean
                required:
                - success
                - data
                - meta
                type: object
          description: Default Response
        '400':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '404':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '429':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '500':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Listar todos os clientes
      tags:
      - Customers
  /api/v1/customers/{id}:
    get:
      description: Retorna um cliente específico por ID.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: cuid
          pattern: ^[cC][0-9a-z]{6,}$
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      blockExpiresAt:
                        nullable: true
                        type: string
                      blockType:
                        nullable: true
                        type: string
                      blockedAt:
                        nullable: true
                        type: string
                      blockedReason:
                        nullable: true
                        type: string
                      city:
                        type: string
                      complement:
                        nullable: true
                        type: string
                      country:
                        type: string
                      createdAt:
                        type: string
                      document:
                        type: string
                      email:
                        type: string
                      fraudEvents:
                        items:
                          additionalProperties: false
                          properties:
                            amountCents:
                              nullable: true
                              type: number
                            createdAt:
                              type: string
                            fraudType:
                              nullable: true
                              type: string
                            id:
                              type: string
                            product:
                              nullable: true
                              type: string
                            reason:
                              type: string
                          required:
                          - id
                          - reason
                          - fraudType
                          - amountCents
                          - product
                          - createdAt
                          type: object
                        type: array
                      id:
                        type: string
                      isBlocked:
                        type: boolean
                      name:
                        type: string
                      neighborhood:
                        type: string
                      phone:
                        type: string
                      projectId:
                        type: string
                      recentTransactions:
                        items:
                          additionalProperties: false
                          properties:
                            amountCents:
                              type: number
                            createdAt:
                              type: string
                            id:
                              type: string
                            paidAt:
                              nullable: true
                              type: string
                            product:
                              type: string
                            status:
                              type: string
                          required:
                          - id
                          - amountCents
                          - status
                          - product
                          - createdAt
                          - paidAt
                          type: object
                        type: array
                      state:
                        type: string
                      street:
                        type: string
                      streetNumber:
                        type: string
                      totalTransactions:
                        type: number
                      updatedAt:
                        type: string
                      zipCode:
                        type: string
                    required:
                    - id
                    - projectId
                    - name
                    - document
                    - phone
                    - email
                    - street
                    - streetNumber
                    - neighborhood
                    - complement
                    - zipCode
                    - city
                    - state
                    - country
                    - isBlocked
                    - blockedAt
                    - blockedReason
                    - blockExpiresAt
                    - blockType
                    - createdAt
                    - updatedAt
                    - recentTransactions
                    - totalTransactions
                    - fraudEvents
                    type: object
                  success:
                    type: boolean
                required:
                - success
                - data
                type: object
          description: Default Response
        '400':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '404':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '429':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '500':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Buscar cliente por ID
      tags:
      - Customers
  /api/v1/store/:
    get:
      description: Retorna os detalhes da loja associados à API Key autenticada.
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      devMode:
                        type: boolean
                      id:
                        type: string
                      maxTransactionAmountCents:
                        nullable: true
                        type: number
                      pixExpirationMinutes:
                        type: number
                    required:
                    - id
                    - devMode
                    - pixExpirationMinutes
                    - maxTransactionAmountCents
                    type: object
                  message:
                    type: string
                  success:
                    default: true
                    type: boolean
                required:
                - success
                - data
                type: object
          description: Default Response
        '401':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '404':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '500':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
      security:
      - ApiKeyAuth: []
      summary: Buscar detalhes da loja
      tags:
      - Store
  /api/v1/sandbox/transactions/{transactionId}/pay:
    post:
      description: "Simula o pagamento de uma transação em modo sandbox.\n          Funciona apenas com\
        \ transações criadas usando chaves de API de teste (sk_test_*).\n          A transação deve estar\
        \ no status 'waiting_payment'."
      parameters:
      - in: path
        name: transactionId
        required: true
        schema:
          format: cuid
          pattern: ^[cC][0-9a-z]{6,}$
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      paidAt:
                        type: string
                      status:
                        type: string
                      transactionId:
                        type: string
                    required:
                    - transactionId
                    - status
                    - paidAt
                    type: object
                  message:
                    type: string
                  success:
                    default: true
                    type: boolean
                required:
                - success
                - data
                type: object
          description: Default Response
        '400':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '401':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '403':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '404':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '500':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
      security:
      - ApiKeyAuth: []
      summary: Simular pagamento de transação sandbox
      tags:
      - Sandbox
  /api/v1/card-tokenization-sessions/:
    post:
      description: Vincula uma sessão curta a projeto, ambiente, origem e pagamento. Aceita somente metadados;
        dados de cartão são proibidos.
      parameters:
      - in: header
        name: idempotency-key
        required: true
        schema:
          maxLength: 256
          minLength: 1
          type: string
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                amount_cents:
                  maximum: 50000000
                  minimum: 1
                  type: integer
                currency:
                  enum:
                  - BRL
                  type: string
                origin:
                  maxLength: 2048
                  minLength: 1
                  type: string
                payment_id:
                  maxLength: 128
                  pattern: ^pay_[a-z0-9]+$
                  type: string
              required:
              - amount_cents
              - currency
              - origin
              type: object
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  client_secret:
                    pattern: ^cts_secret_.*
                    type: string
                  expires_at:
                    type: string
                  id:
                    pattern: ^cts_[a-z0-9]+$
                    type: string
                  payment_id:
                    pattern: ^pay_[a-z0-9]+$
                    type: string
                required:
                - id
                - payment_id
                - client_secret
                - expires_at
                type: object
          description: Default Response
        '400':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '401':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '403':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '409':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '422':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
        '500':
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  detail:
                    type: string
                  details:
                    additionalProperties: {}
                    type: object
                  errorCode:
                    type: string
                  instance:
                    type: string
                  status:
                    maximum: 599
                    minimum: 400
                    type: integer
                  title:
                    type: string
                  type:
                    type: string
                required:
                - type
                - title
                - status
                - detail
                - instance
                type: object
          description: Default Response
      security:
      - ApiKeyAuth: []
      summary: Criar uma sessão de tokenização Bob
      tags:
      - Card Tokenization
